<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="API documentation for the Spell class in the Eluna engine.">
    <meta name="keywords" content="eluna, lua, lua engine, trinitycore, trinity, mangos, cmangos, script, scripting, doc, docs, documentation">

    <title>Spell - Eluna API</title>

    <link rel="stylesheet" type="text/css" href="../static/main.css">

    <link rel="shortcut icon" href="../static/favicon.ico">

</head>
<body class="rustdoc">
<!--[if lte IE 8]>
    <div class="warning">
        This old browser is unsupported and will most likely display funky
        things.
    </div>
    <![endif]-->

		<section class="sidebar">
			<a href='../index.html'>
				<img src='../static/eluna-logo.png' alt='Eluna Logo' width='50'>
			</a>
			<div class="block">
				<h2>所有大类</h2>
				<a class="mod " href="../Aura/index.html">光环 Aura</a>
				<a class="mod " href="../BattleGround/index.html">战场 BattleGround</a>
				<a class="mod " href="../Corpse/index.html">尸体 Corpse</a>
				<a class="mod " href="../Creature/index.html">生物 Creature</a>
				<a class="mod " href="../ElunaQuery/index.html">查询 ElunaQuery</a>
				<a class="mod " href="../GameObject/index.html">游戏对象 GameObject</a>
				<a class="mod " href="../Global/index.html">全局 Global</a>
				<a class="mod " href="../Group/index.html">团队 Group</a>
				<a class="mod " href="../Guild/index.html">公会 Guild</a>
				<a class="mod " href="../Item/index.html">物品 Item</a>
				<a class="mod " href="../Map/index.html">地图 Map</a>
				<a class="mod " href="../Object/index.html">对象 Object</a>
				<a class="mod " href="../Player/index.html">玩家 Player</a>
				<a class="mod " href="../Quest/index.html">任务 Quest</a>
				<a class="mod " href="../Spell/index.html">法术 Spell</a>
				<a class="mod " href="../Unit/index.html">单位 Unit</a>
				<a class="mod " href="../Vehicle/index.html">载具 Vehicle</a>
				<a class="mod " href="../WorldObject/index.html">世界对象 WorldObject</a>
				<a class="mod " href="../WorldPacket/index.html">数据 WorldPacket</a>
			</div>
		</section>

<nav class="sub">
    <form class="search-form js-only">
        <div class="search-container">
            <input class="search-input" name="search"
                   autocomplete="off"
                   placeholder="搜索更多内容"
                   type="search">
        </div>
    </form>
</nav>

<section id='main' class="content mod">
    <h1 class='fqn'>
        分类：<a class="mod" href="">法术 Spell</a>
        <span class='out-of-band'>
            <span id='render-detail'>
                <a id="collapse-all" href="#">[-]</a>
                <a id="expand-all" href="#">[+]</a>
            </span>
        </span>
    </h1>

    
    <p>由 <a class="mod" href="../Unit/index.html">Unit</a> 施放该咒语时创建.从以下方法继承</p>

    <h2 id='methods' class='section-header'><a href="#methods">方法</a></h2>
    <table>
        <tr>
            <td>
                <a class='stability Stable' title='Documented'></a>
                <a class='fn' href='Cancel.html'>Cancel</a>
            </td>
            <td class='docblock short'>
                <p>解除 <a class="mod" href="../Spell/index.html">Spell</a></p>
            </td>
        </tr>
        <tr>
            <td>
                <a class='stability Stable' title='Documented'></a>
                <a class='fn' href='Cast.html'>Cast</a>
            </td>
            <td class='docblock short'>
                <p>施放 <a class="mod" href="../Spell/index.html">Spell</a></p>
            </td>
        </tr>
        <tr>
            <td>
                <a class='stability Stable' title='Documented'></a>
                <a class='fn' href='Finish.html'>Finish</a>
            </td>
            <td class='docblock short'>
                <p>结束 <a class="mod" href="../Spell/index.html">Spell</a></p>
            </td>
        </tr>
        <tr>
            <td>
                <a class='stability Stable' title='Documented'></a>
                <a class='fn' href='GetCastTime.html'>GetCastTime</a>
            </td>
            <td class='docblock short'>
                <p>返回 <a class="mod" href="../Spell/index.html">Spell</a> 的施法时间</p>
            </td>
        </tr>
        <tr>
            <td>
                <a class='stability Stable' title='Documented'></a>
                <a class='fn' href='GetCaster.html'>GetCaster</a>
            </td>
            <td class='docblock short'>
                <p>返回施法此 <a class="mod" href="../Spell/index.html">Spell</a> 的 <a class="mod" href="../Unit/index.html">Unit</a></p>
            </td>
        </tr>
        <tr>
            <td>
                <a class='stability Stable' title='Documented'></a>
                <a class='fn' href='GetDuration.html'>GetDuration</a>
            </td>
            <td class='docblock short'>
                <p>返回 <a class="mod" href="../Spell/index.html">Spell</a> 的法术持续时间</p>
            </td>
        </tr>
        <tr>
            <td>
                <a class='stability Stable' title='Documented'></a>
                <a class='fn' href='GetEntry.html'>GetEntry</a>
            </td>
            <td class='docblock short'>
                <p>返回 <a class="mod" href="../Spell/index.html">Spell</a> 的条目ID</p>
            </td>
        </tr>
        <tr>
            <td>
                <a class='stability Stable' title='Documented'></a>
                <a class='fn' href='GetPowerCost.html'>GetPowerCost</a>
            </td>
            <td class='docblock short'>
                <p>返回 <a class="mod" href="../Spell/index.html">Spell</a> 的能量消耗</p>
            </td>
        </tr>
        <tr>
            <td>
                <a class='stability Stable' title='Documented'></a>
                <a class='fn' href='GetTarget.html'>GetTarget</a>
            </td>
            <td class='docblock short'>
                <p>返回 <a class="mod" href="../Spell/index.html">Spell</a> 的目标 <a class="mod" href="../Object/index.html">Object</a>.</p>
            </td>
        </tr>
        <tr>
            <td>
                <a class='stability Stable' title='Documented'></a>
                <a class='fn' href='GetTargetDest.html'>GetTargetDest</a>
            </td>
            <td class='docblock short'>
                <p>返回 <a class="mod" href="../Spell/index.html">Spell</a> 的目的地坐标(比如传送法术).</p>
            </td>
        </tr>
        <tr>
            <td>
                <a class='stability Stable' title='Documented'></a>
                <a class='fn' href='IsAutoRepeat.html'>IsAutoRepeat</a>
            </td>
            <td class='docblock short'>
                <p>如果 <a class="mod" href="../Spell/index.html">Spell</a> 可以自动重复 则返回true 否则返回false (可能不太准确)</p>
            </td>
        </tr>
        <tr>
            <td>
                <a class='stability Stable' title='Documented'></a>
                <a class='fn' href='SetAutoRepeat.html'>SetAutoRepeat</a>
            </td>
            <td class='docblock short'>
                <p>将 <a class="mod" href="../Spell/index.html">Spell</a> 设置为自动重复</p>
            </td>
        </tr>
    </table>

</section>
<section id='search' class="content hidden"></section>
<section class="footer"></section>
<script>    window.rootPath = "../";</script>
<script src="../static/jquery.js"></script>
<script src="../static/main.js"></script>
<script async src="../search-index.js"></script>
<center>Generated on 06/07/2019</center>
<center>&copy;2016 - Eluna Lua Engine</center>
</body>
</html>