<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="API documentation for the ElunaQuery class in the Eluna engine.">
    <meta name="keywords" content="eluna, lua, lua engine, trinitycore, trinity, mangos, cmangos, script, scripting, doc, docs, documentation">

    <title>ElunaQuery - Eluna API</title>

    <link rel="stylesheet" type="text/css" href="../static/main.css">

    <link rel="shortcut icon" href="../static/favicon.ico">

</head>
<body class="rustdoc">
<!--[if lte IE 8]>
    <div class="warning">
        This old browser is unsupported and will most likely display funky
        things.
    </div>
    <![endif]-->

		<section class="sidebar">
			<a href='../index.html'>
				<img src='../static/eluna-logo.png' alt='Eluna Logo' width='50'>
			</a>
			<div class="block">
				<h2>所有大类</h2>
				<a class="mod " href="../Aura/index.html">光环 Aura</a>
				<a class="mod " href="../BattleGround/index.html">战场 BattleGround</a>
				<a class="mod " href="../Corpse/index.html">尸体 Corpse</a>
				<a class="mod " href="../Creature/index.html">生物 Creature</a>
				<a class="mod " href="../ElunaQuery/index.html">查询 ElunaQuery</a>
				<a class="mod " href="../GameObject/index.html">游戏对象 GameObject</a>
				<a class="mod " href="../Global/index.html">全局 Global</a>
				<a class="mod " href="../Group/index.html">团队 Group</a>
				<a class="mod " href="../Guild/index.html">公会 Guild</a>
				<a class="mod " href="../Item/index.html">物品 Item</a>
				<a class="mod " href="../Map/index.html">地图 Map</a>
				<a class="mod " href="../Object/index.html">对象 Object</a>
				<a class="mod " href="../Player/index.html">玩家 Player</a>
				<a class="mod " href="../Quest/index.html">任务 Quest</a>
				<a class="mod " href="../Spell/index.html">法术 Spell</a>
				<a class="mod " href="../Unit/index.html">单位 Unit</a>
				<a class="mod " href="../Vehicle/index.html">载具 Vehicle</a>
				<a class="mod " href="../WorldObject/index.html">世界对象 WorldObject</a>
				<a class="mod " href="../WorldPacket/index.html">数据 WorldPacket</a>
			</div>
		</section>

<nav class="sub">
    <form class="search-form js-only">
        <div class="search-container">
            <input class="search-input" name="search"
                   autocomplete="off"
                   placeholder="搜索更多内容"
                   type="search">
        </div>
    </form>
</nav>

<section id='main' class="content mod">
    <h1 class='fqn'>
        分类：<a class="mod" href="">查询 ElunaQuery</a>
        <span class='out-of-band'>
            <span id='render-detail'>
                <a id="collapse-all" href="#">[-]</a>
                <a id="expand-all" href="#">[+]</a>
            </span>
        </span>
    </h1>

    
    <p>数据库查询的结果。例如 Global:WorldDBQuery 的返回值。 从下方继承</p>

    <h2 id='methods' class='section-header'><a href="#methods">方法</a></h2>
    <table>
        <tr>
            <td>
                <a class='stability Stable' title='Documented'></a>
                <a class='fn' href='GetBool.html'>GetBool</a>
            </td>
            <td class='docblock short'>
                <p>返回当前行指定列中的数据，将其转换为布尔值.</p>
            </td>
        </tr>
        <tr>
            <td>
                <a class='stability Stable' title='Documented'></a>
                <a class='fn' href='GetColumnCount.html'>GetColumnCount</a>
            </td>
            <td class='docblock short'>
                <p>返回结果集中的列数.</p>
            </td>
        </tr>
        <tr>
            <td>
                <a class='stability Stable' title='Documented'></a>
                <a class='fn' href='GetDouble.html'>GetDouble</a>
            </td>
            <td class='docblock short'>
                <p>返回当前行指定列中的数据，该数据强制转换为64位浮点值.</p>
            </td>
        </tr>
        <tr>
            <td>
                <a class='stability Stable' title='Documented'></a>
                <a class='fn' href='GetFloat.html'>GetFloat</a>
            </td>
            <td class='docblock short'>
                <p>返回当前行指定列中的数据，该数据转换为32位浮点值.</p>
            </td>
        </tr>
        <tr>
            <td>
                <a class='stability Stable' title='Documented'></a>
                <a class='fn' href='GetInt16.html'>GetInt16</a>
            </td>
            <td class='docblock short'>
                <p>返回当前行指定列中的数据，将其转换为有符号的16位整数.</p>
            </td>
        </tr>
        <tr>
            <td>
                <a class='stability Stable' title='Documented'></a>
                <a class='fn' href='GetInt32.html'>GetInt32</a>
            </td>
            <td class='docblock short'>
                <p>返回当前行指定列中的数据，将其转换为有符号的32位整数.</p>
            </td>
        </tr>
        <tr>
            <td>
                <a class='stability Stable' title='Documented'></a>
                <a class='fn' href='GetInt64.html'>GetInt64</a>
            </td>
            <td class='docblock short'>
                <p>返回当前行指定列中的数据，将其转换为有符号的64位整数.</p>
            </td>
        </tr>
        <tr>
            <td>
                <a class='stability Stable' title='Documented'></a>
                <a class='fn' href='GetInt8.html'>GetInt8</a>
            </td>
            <td class='docblock short'>
                <p>返回当前行指定列中的数据，将其转换为带符号的8位整数.</p>
            </td>
        </tr>
        <tr>
            <td>
                <a class='stability Stable' title='Documented'></a>
                <a class='fn' href='GetRow.html'>GetRow</a>
            </td>
            <td class='docblock short'>
                <p>从当前行返回一个表，其中键是字段名，值是行的值.</p>
            </td>
        </tr>
        <tr>
            <td>
                <a class='stability Stable' title='Documented'></a>
                <a class='fn' href='GetRowCount.html'>GetRowCount</a>
            </td>
            <td class='docblock short'>
                <p>返回结果集中的行数.</p>
            </td>
        </tr>
        <tr>
            <td>
                <a class='stability Stable' title='Documented'></a>
                <a class='fn' href='GetString.html'>GetString</a>
            </td>
            <td class='docblock short'>
                <p>返回当前行指定列中的数据，并将其转换为字符串.</p>
            </td>
        </tr>
        <tr>
            <td>
                <a class='stability Stable' title='Documented'></a>
                <a class='fn' href='GetUInt16.html'>GetUInt16</a>
            </td>
            <td class='docblock short'>
                <p>返回当前行指定列中的数据，将其转换为无符号的16位整数.</p>
            </td>
        </tr>
        <tr>
            <td>
                <a class='stability Stable' title='Documented'></a>
                <a class='fn' href='GetUInt32.html'>GetUInt32</a>
            </td>
            <td class='docblock short'>
                <p>返回当前行指定列中的数据，将其转换为无符号的32位整数.</p>
            </td>
        </tr>
        <tr>
            <td>
                <a class='stability Stable' title='Documented'></a>
                <a class='fn' href='GetUInt64.html'>GetUInt64</a>
            </td>
            <td class='docblock short'>
                <p>返回当前行指定列中的数据，将其转换为无符号的64位整数.</p>
            </td>
        </tr>
        <tr>
            <td>
                <a class='stability Stable' title='Documented'></a>
                <a class='fn' href='GetUInt8.html'>GetUInt8</a>
            </td>
            <td class='docblock short'>
                <p>返回当前行指定列中的数据，将其转换为无符号的8位整数.</p>
            </td>
        </tr>
        <tr>
            <td>
                <a class='stability Stable' title='Documented'></a>
                <a class='fn' href='IsNull.html'>IsNull</a>
            </td>
            <td class='docblock short'>
                <p>如果当前行的指定列为NULL，则返回true，否则返回false.</p>
            </td>
        </tr>
        <tr>
            <td>
                <a class='stability Stable' title='Documented'></a>
                <a class='fn' href='NextRow.html'>NextRow</a>
            </td>
            <td class='docblock short'>
                <p>将 <a class="mod" href="../ElunaQuery/index.html">ElunaQuery</a> 到结果集中的下一行.(可能有误)</p>
            </td>
        </tr>
    </table>

</section>
<section id='search' class="content hidden"></section>
<section class="footer"></section>
<script>    window.rootPath = "../";</script>
<script src="../static/jquery.js"></script>
<script src="../static/main.js"></script>
<script async src="../search-index.js"></script>
<center>Generated on 06/07/2019</center>
<center>&copy;2016 - Eluna Lua Engine</center>
</body>
</html>